.details {
    margin: 0 auto;
    margin-top: 70px;
    background: #bbbfc4;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 140px;
}

.recipe-image {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.recipe-info {
    width: 100%;
    text-align: left;
}

.car-info p,
.car-info h2 {
    margin: 10px 0;
}

.actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.edit-btn, .delete-btn, .like-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.like-btn {
    background-color: #4caf50;
    color: white;
}

.like-btn:disabled {
    background-color: #555;
}

.edit-btn {
    margin-right: 50px;
    background-color: #f59e0b;
    color: black;
}

.delete-btn {
    background-color: #f59e0b;
    color: black;
}

.edit-btn, .delete-btn, .like-btn:hover {
    opacity: 0.9;
}

/* .container{
    margin: 0 auto;
} */