<div class="details">
    <img src="https://i.ytimg.com/vi/OlcMgfSW0mc/hq720.jpg?sqp=-oaymwEXCK4FEIIDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLAwsRqMU8EMCRd7PKl1OPnSts-j0A" alt="" class="recipe-image">
    <div class="recipe-info">
        <h2>Name: Something</h2>
        <div class="ingredients">
            Ingredients: 
            <ul>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
            </ul>
        </div>
    </div>
</div>